{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }]
  ]
}
